.form-group {
    margin-bottom: 3px;
}
.form-control {
  text-transform:uppercase;
  display: block;
  width: 100%;
  height: 28px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}
h2{
    font-size:24px;
    color: rgb(27, 110, 191);
}

.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;
  color:white;
  background-color:#a5a5a5;
}
.navbar-inverse {
  background-color: #0D2E4E;
  border-color: #080808;
  opacity:0.86;
}
.btn-primary {
  color: #fff;
  background-color:#13292f;
  border-color: #2e6da4;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff!important;
    font-size:13px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #c3c3c3!important;
    font-size:18px;
}
.navbar-inverse .navbar-brand {
      color: #ffffff!important;
}
.navbar-inverse .navbar-brand:hover {
     color: #c3c3c3!important; 
}

